body {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  /*
	@media (max-width: 1400px) {
		max-width: 1100px;
		padding: 0 15px;
	}
	@media (max-width: 992px) {
		max-width: 750px;
	}
	@media (max-width: 767px) {
		max-width: none;
	}*/
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.title {
  color: #212121;
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.5px;
}

.title_w {
  color: #fff;
}

.subtitle {
  margin: 0 auto;
  max-width: 620px;
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.75px;
}

.subtitle_w {
  color: #fff;
}

.main {
  background-color: #000;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/main/bg.png) no-repeat center;
}

.main__page {
  padding: 180px 0 70px 0;
  position: relative;
  z-index: 4;
}

@media (max-width: 767px) {
  .main__page {
    padding: 150px 0 70px 0;
  }
}

@media (max-width: 550px) {
  .main__page {
    padding: 110px 0 55px 0;
  }
}

.main__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .main__title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .main__title {
    font-style: 40px;
    max-width: 650px;
  }
}

@media (max-width: 550px) {
  .main__title {
    font-size: 35px;
  }
}

.main__subtitle {
  color: #ffffff;
  font-style: 22px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.1px;
  margin-bottom: 103px;
}

@media (max-width: 767px) {
  .main__subtitle {
    margin-bottom: 63px;
  }
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .main__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__link {
  margin: 0 15px;
  width: 214px;
  padding: 22px 0;
  border: 3px solid #f8f8f8;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 550px) {
  .main__link {
    font-size: 15px;
    padding: 15px 0;
  }
}

.main__link:hover {
  background-color: #00897b;
  border: 3px solid #00897b;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__arrow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__arrow {
  position: relative;
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

.header {
  position: relative;
  z-index: 5;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header__logo {
  margin: 50px 0;
  color: #212121;
  font-size: 25px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

@media (max-width: 992px) {
  .header__logo {
    margin: 30px 0;
  }
}

.header__menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header__menu li {
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.header__menu li:first-child {
  margin-left: 0px;
}

@media (max-width: 767px) {
  .header__menu li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  .header__menu li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.header__link {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
}

.header__fa {
  width: 19px;
  height: 19px;
  color: #212121;
  font-size: 20px;
  text-align: right;
  letter-spacing: 1px;
}

.about {
  padding: 125px 0;
}

.about__title {
  margin-bottom: 36px;
}

.about__subtitle {
  margin-bottom: 124px;
}

@media (max-width: 550px) {
  .about__subtitle {
    margin-bottom: 80px;
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__column {
  max-width: 254px;
}

.column-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  margin-bottom: 40px;
}

.column-about:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .column-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 550px) {
  .column-about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.column-about__icon {
  width: 62px;
  height: 62px;
  margin-bottom: 39px;
}

.column-about__title {
  color: #212121;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 26px;
}

.column-about__text {
  color: #212121;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.75px;
}

.services {
  background-color: #e4fdf9;
  padding: 173px 0 126px 0;
}

.services__title {
  margin-bottom: 36px;
}

.services__subtitle {
  margin-bottom: 112px;
}

@media (max-width: 767px) {
  .services__subtitle {
    margin-bottom: 30px;
  }
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .services__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 -30px 30px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 -30px 0px;
  }
}

.item-services {
  text-align: center;
  padding-top: 158px;
  padding-bottom: 65px;
  background: url("../img/services/02.png") 50% 58px no-repeat;
}

@media (max-width: 767px) {
  .item-services {
    padding: 158px 0 25px 0;
  }
}

.item-services__img {
  width: 56px;
  height: 62px;
  margin: 56px 0 38px 0;
}

.item-services__title {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 26px;
}

.item-services__text {
  padding: 0 50px;
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.75px;
  margin-bottom: 45px;
}

.item-services__link {
  border: 2px solid #212121;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px;
}

.item-services:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../img/services/01.png") 50% 58px no-repeat;
  background-color: #00897b;
}

.item-services:hover .item-services__text,
.item-services:hover .item-services__title,
.item-services:hover .item-services__link {
  color: #fff;
}

.item-services:hover .item-services__link {
  border: 2px solid #fff;
}

.works {
  padding: 128px 0 136px 0;
}

@media (max-width: 767px) {
  .works {
    padding: 128px 0 86px 0;
  }
}

.works__title {
  margin-bottom: 36px;
}

.works__subtitle {
  margin-bottom: 112px;
}

.works__menu {
  margin-bottom: 109px;
  text-align: center;
}

.works__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .works__menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.works__menu li {
  width: 179px;
  margin: 10px;
  padding: 15px 0;
  border: 2px solid #00897b;
}

.works__menu li:first-child {
  width: 100px;
}

.works__menu li:hover {
  background-color: #00897b;
}

.works__menu li:hover .works__link {
  color: #fff;
}

.works__link {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.works__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__link-button {
  padding: 25px 63px;
  background-color: #00897b;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grid-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 -10px 129px -10px;
}

@media (max-width: 767px) {
  .grid-works {
    margin: 0 -10px 79px -10px;
  }
}

.grid-works__item {
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
}

@media (max-width: 992px) {
  .grid-works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 500px) {
  .grid-works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.grid-works__img {
  width: 100%;
  height: 100%;
}

.pricing {
  background-color: #f0f0f0;
  padding: 125px 0;
}

.pricing__title {
  margin-bottom: 29px;
}

.pricing__subtitle {
  margin-bottom: 125px;
}

.box-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

@media (max-width: 1100px) {
  .box-pricing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .box-pricing {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.box-pricing__item {
  margin: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  padding: 49px 15px 63px 15px;
  background: #fff url("../img/pricing/bg.png") top center/100% no-repeat;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-pricing__item:hover {
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .box-pricing__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }
}

@media (max-width: 767px) {
  .box-pricing__item {
    padding: 30px 15px 63px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
}

.box-pricing__title {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.25px;
  margin-bottom: 39px;
}

@media (max-width: 767px) {
  .box-pricing__title {
    margin-bottom: 20px;
  }
}

.box-pricing sup {
  vertical-align: super;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.25px;
}

.box-pricing span {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.85px;
}

.box-pricing__subtitle {
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2.5px;
  margin-bottom: 116px;
}

@media (max-width: 767px) {
  .box-pricing__subtitle {
    margin-bottom: 50px;
  }
}

.box-pricing__text {
  padding: 25px 0;
  color: #212121;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.85px;
  position: relative;
}

.box-pricing__text::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  width: 178px;
  height: 1px;
  -webkit-transform: translate(-89px, 0);
      -ms-transform: translate(-89px, 0);
          transform: translate(-89px, 0);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.box-pricing__order {
  margin-top: 66px;
}

.box-pricing__link {
  padding: 23px 33px;
  border: 2px solid #000000;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transform: translate(25%, 0);
      -ms-transform: translate(25%, 0);
          transform: translate(25%, 0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-pricing__link:hover {
  background-color: #00897b;
  color: #fff;
  border: 2px solid #00897b;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team {
  padding: 122px 0;
}

.team__title {
  margin-bottom: 36px;
}

.team__subtitle {
  margin-bottom: 127px;
}

@media (max-width: 992px) {
  .team__subtitle {
    margin-bottom: 50px;
  }
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px 105px -15px;
}

@media (max-width: 992px) {
  .team__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 -15px 0px -15px;
  }
}

@media (max-width: 767px) {
  .team__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__item {
  margin-bottom: 40px;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 992px) {
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 767px) {
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

.team__img {
  width: 100%;
  margin-bottom: 38px;
  border-radius: 10px;
}

.team__name {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.team__prof {
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.75px;
  margin-bottom: 33px;
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social i {
  color: #00897b;
}

.team__link {
  display: block;
  width: 50px;
  padding: 10px 0;
  margin: 0 11px;
  border-radius: 10px;
  background-color: #f0f1f1;
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.5px;
}

.team__link:hover {
  background-color: #3949ab;
}

.team__link:hover i {
  color: #fff;
}

.team__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__point {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background-color: #00897b;
  border-radius: 7.5px;
}

.team__point-active {
  background-color: #3949ab;
}

.blog {
  background-color: #e4fdf9;
  padding: 125px 0;
}

.blog__title {
  margin-bottom: 29px;
}

.blog__subtitle {
  margin-bottom: 127px;
}

@media (max-width: 992px) {
  .blog__subtitle {
    margin-bottom: 50px;
  }
}

.blog__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 125px;
}

@media (max-width: 992px) {
  .blog__button {
    margin-top: 50px;
  }
}

.blog__link {
  padding: 28px 52px;
  background-color: #00897b;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.box-blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .box-blog__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.box-blog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .box-blog__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 767px) {
  .box-blog__item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.box-blog__item_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 992px) {
  .box-blog__item_1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.box-blog__item_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.box-blog__img {
  width: 100%;
  height: 100%;
}

.box-blog__title {
  display: block;
  margin: 60px 0 28px 0;
  color: #212121;
  font-size: 25px;
  font-weight: 600;
  line-height: 22px;
  text-align: start;
  letter-spacing: 1.25px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-blog__title:hover {
  color: #00897b;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .box-blog__title {
    margin: 20px 0 28px 0;
  }
}

.box-blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

@media (max-width: 500px) {
  .box-blog__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box-blog__datatime {
  padding-right: 40px;
  color: #212121;
  font-size: 17px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0.85px;
}

.box-blog__datatime::before {
  padding-right: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f073";
  width: 17px;
  height: 18px;
  color: #212121;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.85px;
}

.box-blog__author {
  color: #212121;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.85px;
}

.box-blog__author::before {
  padding-right: 15px;
  font-family: "Font Awesome 5 Free";
  content: "\f15b";
  width: 15px;
  height: 18px;
  color: #212121;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.85px;
}

.box-blog__text {
  max-width: 450px;
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.75px;
}

@media (max-width: 992px) {
  .box-blog__text {
    margin-bottom: 30px;
  }
}

.contact {
  padding: 128px 0 110px 0;
  background: #212121 url(../img/contact/bg.png) center no-repeat;
}

.contact__title {
  margin-bottom: 36px;
}

.contact__subtitle {
  margin-bottom: 100px;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .contact__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__logo {
  margin: 0 auto 39px auto;
  width: 106px;
  height: 106px;
  background-color: #3949ab;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__img {
  max-width: 62px;
  max-height: 62px;
}

.contact__info {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 84px;
}

.contact__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px 33px 0;
  padding-left: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  height: 84px;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .contact__name {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 33px 0;
  }
}

.contact__email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  margin: 0 0 33px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 84px;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .contact__email {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 33px 0;
  }
}

.contact__text {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 29px 0 0 20px;
  margin-bottom: 39px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 323px;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  letter-spacing: 1px;
}

.contact__button {
  margin: 0 0 0 auto;
  padding: 28px 83px;
  border-radius: 10px;
  color: #212121;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
}

.footer {
  height: 63px;
  text-align: center;
}

.footer__text {
  color: #212121;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 63px;
  text-align: center;
  letter-spacing: 1px;
}
